/* color palette */
:root {
  --var-gray: #222222;
  --var-green: #4bc800;
}
/* #region common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* #endregiom */

/* #region utilities */
body {
  background-color: black;
}

#site_footer {
  background-color: var(--var-gray);
  width: 100%;
}

.d_flex {
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.center {
  justify-content: center;
}

.text_center {
  text-align: center;
}
.align_items_center {
  align-items: center;
}
.space_between {
  justify-content: space-between;
}
.col_7 {
  width: calc(100% / 8);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}
/* #endregion */

/* #region header */
header .cam_settings {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.button {
  background-color: rgba(128, 128, 128, 0.439);
  color: white;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.cam_view,
.resize_view {
  margin: 0 0.5rem;
}
/* #endregion header */

/* #region main */
main .cam_section {
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.cam {
  position: relative;
}

.name {
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  background-color: rgba(128, 128, 128, 0.439);
  color: white;
  padding: 0.4rem;
  font-size: 0.7rem;
}
/* #endregion main */

/* footer */

.settings {
  color: white;
}
.flex_start,
.flex_end {
  flex-basis: 20%;
}
.flex_start div {
  padding: 0.5rem;
}
.icons p {
  padding-top: 0.3rem;
}

.flex_center div {
  padding: 0.5rem;
}

.flex_end {
  justify-content: flex-end;
  align-items: center;
}
.icon {
  font-size: 1.3rem;
}
.arrow {
  font-size: 0.5rem;
}

.share .icon {
  color: var(--var-green);
}

.end {
  padding: 1.3rem;
  background-color: gray;
  color: red;
}
