/* #region common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregiom */

/* #region utilities */
#site_header,
#site_main {
  background-color: black;
  width: 100vw;
}

.d_flex {
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}
.center{
    justify-content: center;
}

.col_7 {
  width: calc((100% / 12) * 2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}
/* #endregion */

/* #region header */
header .cam_settings {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.button {
  background-color: rgba(128, 128, 128, 0.439);
  color: white;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.cam_view,
.resize_view {
  margin: 0 0.5rem;
}
/* #endregion header */

/* #region main */
main .cam_section {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 2rem 0;
}

.cam {
  position: relative;
}

.name {
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  background-color: rgba(128, 128, 128, 0.439);
  color: white;
  padding: 0.4rem;
  font-size: 0.7rem;
}
/* #endregion main */

